# Введение в регрессионный анализ: интенсив по Python

## Задачи для тренировки по итогам недели №2

In [1]:
import pandas as pd

Загрузите данные из файла `Stars.csv` (скачать [здесь](https://github.com/allatambov/PyReg25/blob/main/Stars.csv)) и выполните следующие задания.

Показатели в файле:

* `Temperature`: температура звезды по Кельвину;
* `Luminosity`: светимость звезды в единицах светимости Солнца;
* `Radius`: радиус звезды по отношению к Солнцу;
* `Absolute magnitude`: абсолютная звездная величина;
* `Star type`: тип звезды (0 — коричневый карлик, 1 — красный карлик, 2 — белый карлик, 3 —
звезда главной последовательности, 4 — супергигант, 5 — гипергигант); 
* `Star color`: цвет звезды;
* `Spectral Class`: спектральный класс звезды.

Если в датафрейме есть строки с пропущенными значениями, удалять их не нужно.

In [2]:
stars = pd.read_csv("Stars.csv")
stars

,Temperature,Luminosity,Radius,Absolute magnitude,Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M
...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5,Blue,O
236,30839,834042.000000,1194.0000,-10.63,5,Blue,O
237,8829,537493.000000,1423.0000,-10.73,5,White,A
238,9235,404940.000000,1112.0000,-11.23,5,White,A
239,37882,294903.000000,1783.0000,-7.80,5,Blue,O

### Задача 0

Выведите информацию о типах столбцов в датафрейме. Выведите описательные статистики для всех числовых столбцов в датафрейме.

In [3]:
stars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Temperature         240 non-null    int64
 1   Luminosity          240 non-null    float64
 2   Radius              240 non-null    float64
 3   Absolute magnitude  240 non-null    float64
 4   Star type           240 non-null    int64
 5   Star color          240 non-null    object
 6   Spectral Class      240 non-null    object
dtypes: float64(3), int64(2), object(2)
memory usage: 13.2+ KB

In [4]:
stars.describe()

,Temperature,Luminosity,Radius,Absolute magnitude,Star type
count,240.000000,240.000000,240.000000,240.000000,240.000000
mean,10497.462500,107188.361635,237.157781,4.382396,2.500000
std,9552.425037,179432.244940,517.155763,10.532512,1.711394
min,1939.000000,0.000080,0.008400,-11.920000,0.000000
25%,3344.250000,0.000865,0.102750,-6.232500,1.000000
50%,5776.000000,0.070500,0.762500,8.313000,2.500000
75%,15055.500000,198050.000000,42.750000,13.697500,4.000000
max,40000.000000,849420.000000,1948.500000,20.060000,5.000000

### Задача 1

Добавьте в датафрейм столбец `White Dwarf`, который содержит значения 0 и 1, считая, что 1 ставится в случае, если звезда является белым карликом.

In [5]:
stars["White Dwarf"] = (stars["Star type"] == 2).astype(int)

### Задача 2

Сохраните строки, соответствующие звездам с абсолютной звездной величиной (`Absolute magnitude`) меньше 0, в датафрейм `low`.

In [6]:
low = stars[stars["Absolute magnitude"] < 0]

### Задача 3

Сохраните строки, соответствующие звездам спектрального класса `O` или `M` , в датафрейм `stars_om`.

In [7]:
stars_om = stars[(stars["Spectral Class"] == "O") | (stars["Spectral Class"] == "M")]

### Задача 4

Сохраните строки, соответствующие звездам-гигантам и звездам-супергигантам, в датафрейм `giants`.

In [8]:
giants = stars[(stars["Star type"] == 4) | (stars["Star type"] == 5)]

### Задача 5

Выведите таблицу частот для столбца `Star color`.

In [9]:
stars["Star color"].value_counts()

Red                   112
Blue                   55
Blue-white             26
Blue White             10
yellow-white            8
White                   7
Blue white              3
Yellowish White         3
white                   3
Whitish                 2
Orange                  2
yellowish               2
Pale yellow orange      1
White-Yellow            1
Blue                    1
Yellowish               1
Orange-Red              1
Blue white              1
Blue-White              1
Name: Star color, dtype: int64

### Задача 6

Сохраните строки, соответствующие звездам главной последовательности синего (`Blue`) или сине-белого цвета (`Blue-white` или `Blue-White`), в датафрейм `main_blue`. 

Вычислите количество строк в полученном датафрейме. Выведите описательные статистики для столбца `Spectral Class`. Звезд какого спектрального класса больше всего среди отобранных наблюдений?

In [10]:
# внимание на круглые скобки
main_blue = stars[(stars["Star type"] == 3) & 
                  ((stars["Star color"] == "Blue") | (stars["Star color"] == "Blue-White"))]

In [11]:
print(len(main_blue)) # количество строк

6

In [12]:
main_blue["Spectral Class"].describe() # класса O

count     6
unique    2
top       O
freq      5
Name: Spectral Class, dtype: object

### Задача 7

a. Вычислите среднюю и медианную светимость звезд, используя датафрейм `stars`. 

b. Вычислите границы типичных значений светимости звезды. 

c. Выберите строки, соответствующие звездам с *типичными значениями*  светимости, сохраните их в датафрейм `stars2`. Вычислите среднюю и медианную светимость звезд в `stars2`.

In [13]:
# для stars

print(stars["Luminosity"].mean())
print(stars["Luminosity"].median())

107188.36163460833
0.07050000000000001

In [14]:
# границы типичных значений

q1 = stars["Luminosity"].quantile(0.25)
q3 = stars["Luminosity"].quantile(0.75)
ir = q3 - q1

lower = q1 - 1.5 * ir
upper = q3 + 1.5 * ir

print(lower, upper)

-297074.997838125 495124.998702875

In [15]:
# выбираем типичные значения

stars2 = stars[(stars["Luminosity"] >= lower) & (stars["Luminosity"] <= upper)]

In [16]:
# для stars2

print(stars2["Luminosity"].mean())
print(stars2["Luminosity"].median())

76535.88505397367
0.0105